body {
    margin: 0;
    padding: 0;
    font-family: "Forum", serif;
}
header {
    background-color: #f08e80;
    min-height: 90vh;
    width: 100vw;
    color: #fff;
    display: inline-block;
}
h1 {
    font-size: 3.5rem;
    margin: 60px 0;
}
footer {
    background-color: black;
    color: #fff;
    padding: 64px 0 20px;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px;
}
.navbar p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}
.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}
.navbar nav a:hover {
    text-decoration: underline;
}
.navbar .contact {
    background-color: #fff;
    color: #f08e80;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 8px;
}
.navbar .contact:hover {
    opacity: 0.8;
}
.nav-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
.nav-box {
    font-size: 1.25rem;
}
.nav-box > p {
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.nav-box ul {
    width: 50%;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    float: left;
}
.nav-box ul li {
    width: 50%;
    float: left;
    font-size: 1rem;
    margin-bottom: 12px;
}
.blog-section {
    padding: 64px 0;
    width: 100vw;
    display: inline-block;
}
.nav-box .blog-content {
    width: 50%;
    float: left;
}
.blog-content p {
    margin: 8px 0;
}
.blog-content .blog-heading {
    font-size: 1.1rem;
    margin-top: 22.5px;
}
.blog-text {
    font-size: 0.95rem;
}
.blog-content .blog-date {
    font-size: 0.85rem;
    color: grey;
    margin-bottom: 22.5px;
}
.events-section {
    background-color: #F6E1C3;
    width: 100vw;
    padding: 64px 0;
    display: inline-block;
}
.nav-box .events-list {
    width: 50%;
    float: left;
}
.events-list p {
    margin: 8px 0;
}
.events-list .event-heading {
    font-size: 1.1rem;
    margin-top: 22.5px;
}
.event-place {
    font-size: 0.95rem;
}
.events-list .event-date {
    font-size: 0.85rem;
    color: grey;
    margin-bottom: 22.5px;
}
.footer-container p {
    margin: 14px 0 0;
}
.icons {
    font-size: 2rem;
    margin: 0 8px;
}
.footer-container a {
    color: #fff;
    text-decoration: none;
}
.footer-container a:hover {
    color: grey;
}

@media only screen and (max-width: 748px) {
    .nav-box p {
        width: 100%;
    }

    .nav-box ul {
        width: 100%;
    }

    .nav-box .blog-content {
        width: 100%;
    }

    .box-heading {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .events-section {
        text-align: center;
    }

    .events-section .events-list {
        width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .navbar nav {
        display: none;
    }

    h1 {
        font-size: 2.8rem;
    }
}
